{
	email carly@veryroundbird.house
	on_demand_tls {
		ask http://localhost:3000/tls-check
	}
}

*.shimaenaga.veryroundbird.house, shimaenaga.veryroundbird.house {
	tls {
		on_demand
	}

	# Route these paths requests to the PDS service
	# /xrpc/
	# /@atproto/
	# /oauth/
	# /.well-known/
	# /robots.txt
	# /account
	@pds {
		path /xrpc/*
		path /@atproto/*
		path /oauth/*
		path /.well-known/*
		path /robots.txt
		path /account/*
	}
	reverse_proxy @pds http://localhost:3000

	# Serve your custom website for all other requests  
	root * /srv/webroot
	file_server
}
